/* 以下、GitHubのMarkdwonのCSSをベースに改変 */
/* 参考：https://qiita.com/__mick/items/c80fab6c185a41882880 */

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --black: #0f1d5b;
  --white: #fdfdff;
  --dark-blue: #05328d;
  --blue-black: #1a44ba;
  --sky-blue: #849efe;
  --pale-blue: #f5f6ff;
  --gray-blue: rgb(105, 117, 139);

  --text-headline-color: var(--dark-blue);
  --text-accent-color: var(--dark-blue);
  background-color: var(--white);
}

.split-v {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; /* Safari対策のため。 ref: https://qiita.com/kouz496/items/be477bc63cf27a013603 */
  flex-direction: row;
}
/* .split-v > * {
  margin-right: 1rem;
} */
.split-v > *:first-child {
  margin-left: 0;
}
.split-v > *:last-child {
  margin-right: 0;
}
.split-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;

  word-wrap: break-word;
  overflow-wrap: break-word;

  color: var(--black);
  font-size: 1rem;
  font-family: "Noto Sans", "BIZ UDGothic", BlinkMacSystemFont, Segoe UI, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji, -apple-system, sans-serif;
  font-weight: 400;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.03em;

  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

body h1 {
  color: var(--blue-black);
  font-size: 200%;
  font-weight: 600;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: dotted 3px var(--dark-blue);
  border-bottom: dotted 3px var(--dark-blue);
}

body h2 {
  color: var(--dark-blue);
  font-size: 130%;
  font-weight: 600;
  padding: 0.25em 0 0.25em 0;
  border-bottom: 3px double var(--text-headline-color);
  margin-bottom: auto;
}

body h3 {
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 120%;
  margin-top: 0.8em;
  margin-bottom: 0;
  /* border-left: 4px solid rgb(22, 61, 143); */
  border-bottom: dashed 1px var(--blue-black);
}
body h4 {
  font-size: 16px;
}
body h5 {
  font-size: 14px;
}
body h5,
body h6 {
  font-weight: 600;
}
body h6 {
  font-size: 12px;
}

body h1 + p,
body h2 + p,
body h3 + p {
  margin-top: 0.5em;
}

body p {
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
}
body ul {
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-left: 1.8em;
}
body ul li {
  margin-bottom: 0.5em;
}

body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

body strong {
  font-weight: inherit;
  font-weight: bolder;
}

body a {
  background-color: initial;
  color: #025efd;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
  outline-width: 0;
}
body a:active {
  outline-width: 0;
}
body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

body br {
  line-height: 1.4;
}

body img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
  border: solid 3px var(--black);
}

details {
  flex: 1;
}
body > details + details {
  margin-top: 0.5em;
}

/* 横幅が狭いときはdetailsを縦並びにする */
@media (max-width: 700px) {
  .split-v:has(details.interested) {
    flex-direction: column;
  }
}
/* detailsが横並びのとき、少し間隔を空ける */
@media (min-width: 700px) {
  .split-v {
    gap: 5px;
  }
}

details + p {
  margin-top: 1em;
}
summary {
  padding: 0.4em 1em;
  margin: 0.3em 0 0 0;
  border: solid 1px var(--sky-blue);
  border-radius: 7px;
  background-color: var(--pale-blue);
  transition: 0.2s;
  font-weight: 400;
}
summary:hover {
  font-weight: 600;
}
details[open] summary {
  color: var(--gray-blue);
  background-color: var(--white);
}
details[open] > div {
  animation: fadeIn 0.5s ease;
  padding: 0 0.75em 0.5em 0.75em;
  border-radius: 7px;
  border: solid 1px var(--sky-blue);
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* 自己紹介部分のスタイル */
.split-v.aboutme {
  margin: auto 0;
  justify-items: center;
  align-items: flex-start;
}
div.left {
  width: 250px;
  flex-grow: 0;
}
div.right {
  flex-grow: 1;
}
div.icon img {
  height: auto;
  max-width: 50%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
